/* HOME */
.homepage {
    background-image: url("/pict/photo/home/home-pict.jpg");
    background-size: cover;
    background-position: center;
}
.white-long-logo {
    background-image: url("/pict/logo/white-long-logo.png");
}
.tour-pic {
    background-image: url("/pict/photo/home/tourism.jpg");
    background-position: center;
    background-size: cover;
    height: 21rem;
}
.culiner-pic {
    background-image: url("/pict/photo/home/culinary.jpg");
    background-size: cover;
    height: 21rem;
}
.lodging-pic {
    background-image: url("/pict/photo/home/lodging.jpg");
    background-size: cover;
    height: 21rem;
}


/* ABOUT US */
.aboutpage {
    background-image: url("/pict/photo/about/home.jpg");
    background-size: cover;
    background-position: center;
}
.map-pic {
    background-image: url("/pict/photo/about/maps.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
}
.nature-pic {
    background-image: url("/pict/photo/about/nature.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
}

.galery-1-pic {
    background-image: url('/pict/photo/about/batu-0.jpg');
    background-size: cover;
    background-position: center;
    height: 18rem;
}
.galery-2-pic {
    background-image: url('/pict/photo/about/batu-1.jpg');
    background-size: cover;
    background-position: center;
    height: 18rem;
}
.galery-3-pic {
    background-image: url('/pict/photo/about/batu-2.jpg');
    background-size: cover;
    background-position: center;
    height: 18rem;
}
.galery-4-pic {
    background-image: url('/pict/photo/about/batu-3.jpg');
    background-size: cover;
    background-position: center;
    height: 18rem;
}
.galery-5-pic {
    background-image: url('/pict/photo/about/batu-4.jpg');
    background-size: cover;
    background-position: center;
    height: 18rem;
}
.galery-6-pic {
    background-image: url('/pict/photo/about/batu-5.jpg');
    background-size: cover;
    background-position: center;
    height: 18rem;
}



/* Culinary */
.culinarypage {
    background-image: url("/pict/photo/culinary/home.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
}
.img-culinary-1 {
    background-image: url("/pict/photo/tourism/coban-putri.jpg");
}
.img-culinary-2 {
    background-image: url("/pict/photo/sate.jpg");
}
.img-culinary-3 {
    background-image: url("/pict/photo/sate.jpg");
}
.img-culinary-4 {
    background-image: url("/pict/photo/sate.jpg");
}

/* Lodging */
.lodgingpage {
    background-image: url("/pict/photo/lodging/home.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
}
.img-lodging-1 {
    background-image: url("/pict/photo/tourism/coban-putri.jpg");
}
.img-lodging-2 {
    background-image: url("/pict/photo/sate.jpg");
}
.img-lodging-3 {
    background-image: url("/pict/photo/sate.jpg");
}
.img-lodging-4 {
    background-image: url("/pict/photo/sate.jpg");
}

/* Tourism */
.tourismpage {
    background-image: url("/pict/photo/tourism/home.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
}
.img-tourism-1 {
    background-image: url("/pict/photo/tourism/coban-putri.jpg");
}
.img-tourism-2 {
    background-image: url("/pict/photo/sate.jpg");
}
.img-tourism-3 {
    background-image: url("/pict/photo/sate.jpg");
}
.img-tourism-4 {
    background-image: url("/pict/photo/sate.jpg");
}


/* article */
.article-pic {
    background-image: url("/pict/photo/home/culinary.jpg");
    background-size: cover;
}
.pic-maps {
    background-image: url("/pict/photo/about/maps.jpg");
    background-size: cover;
    background-position: center;
    height: 18rem;
}
#map {
    width: 100%; 
    height: 20rem;
}

@media only screen and (max-width : 425px) {
    .tour-pic {
        background-image: url("/pict/photo/home/tourism.jpg");
        background-position: center;
        background-size: cover;
        height: 16rem;
    }
    .culiner-pic {
        background-image: url("/pict/photo/home/culinary.jpg");
        background-size: cover;
        height: 16rem;
    }
    .lodging-pic {
        background-image: url("/pict/photo/home/lodging.jpg");
        background-size: cover;
        height: 16rem;
    }

    .map-pic {
        background-image: url("/pict/photo/about/maps.jpg");
        background-size: cover;
        background-position: center;
        height: 18rem;
    }
    .nature-pic {
        background-image: url("/pict/photo/about/nature.jpg");
        background-size: cover;
        background-position: center;
        height: 18rem;
    }
}